*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.main-box{
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-color: #181818;
    background-repeat: no-repeat;     
    background-size: cover;  
    background-position: center;                
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.portfolio{
    color: #ffff;
    font-size: 45px;
    font-weight: 1000;
}

.portfolio span{
    color: #4bbeac;
    font-weight: 1000;
}

li{
    list-style: none;
    display: inline-block;
    font-size: 28px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
}

li:hover{
    color: #4bbeac;
    font-weight: 1000;
    transition: 0.4s;
    background-color: #292929;
    
}

.my-name{
    position: absolute;
    top: 50%;
    left: 6%;
    color: #ffff;
}

.my-name h1{
    font-size: 80px;
    font-weight: 900;
}

.my-name h1 span{
    color: #4bbeac;
    font-weight: 900;
}

.my-name h3{
    font-size: 40px;
    margin-left: 2%;
    margin-top: 2%;
}