*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.main-box{
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-color: #181818;
    background-repeat: no-repeat;     
    background-size: cover;  
    background-position: center;                
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.portfolio-box {
    display: flex;
    align-items: center;
}

.portfolio {
    color: #ffff;
    font-size: 35px;
    font-weight: 1000;
    margin-left: 10px; /* Adicione margem para separar o texto do avatar */

}

.portfolio span {
    color: #4bbeac;
    font-weight: 1000;
}

/* Adicione estilos ao avatar conforme necessário */
.portfolio-box img {
    width: 50px; /* Defina a largura do avatar conforme necessário */
    border-radius: 30%; /* Se quiser um avatar redondo */
    margin-right: 10px; /* Adicione margem à direita do avatar */
    margin-top: -20px;
}

nav li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
}

nav li:hover{
    color: #4bbeac;
    font-weight: 1000;
    transition: 0.4s;
    background-color: #292929;
    
}

.my-name{
    position: absolute;
    top: 50%;
    left: 6%;
    color: #ffff;
    margin-top: -30px;
}

.my-name h1{
    font-size: 65px;
    font-weight: 900;
}

.my-name h1 span{
    color: #4bbeac;
    font-weight: 900;
}

.name-box {
    font-size: 35px;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
}

.name-box h3 {
    display: inline-block;
    vertical-align: middle; 
    overflow: hidden; 
    border-right: .15em solid #4bbeac; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .05em; 
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite,
        blink-pause 3s forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 90% }
}
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #4bbeac; }
}


.name-box img {
    width: 40px;
    display: inline-block;
    vertical-align: middle; 
}

section{
    display: flex;
    align-items: center;
    padding: 30px 60px;
    background-color: black;
}

section img{
    width: 400px;
    border-radius: 100%;
    box-shadow: rgba(75, 190, 172, 0.4) 0px 8px 24px;
}

section div h2{
    color: #4bbeac;
    font-size: 70px;
    font-weight: bold;
}

section div p{
    color: white;

}

.sobremim-box{
    padding: 15px;
    margin-left: 190px;
}

.sobremim-box p{
    width: 390px;
    margin-top: 10PX;

}

.sobremim-box button{
    color: white;
    background-color: #4bbeac;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #4bbeac;
    cursor: pointer;
    font-size: 15px;
}

.sobremim-box button:hover{
    color:#4bbeac;
    background-color: #000000;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #4bbeac;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
    margin-bottom: -50px;
    font-weight: bold;
}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
}

.card h5 {
    color: #4bbeac;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
}

.card p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #4bbeac;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    overflow: scroll;
}

.card a:hover {
    background-color: transparent;
    border: 2px solid #4bbeac;
    color: #4bbeac;
}

.card-projetos {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Para centralizar os elementos */
    text-align: center; /* Para centralizar o texto dentro de .container-skills */
    position: relative;
    width: 100%;
    background: #000000;
    padding: 10px 20px;
    color: #fff;
}

.softskills-box {
    flex: 1;
    max-width: 30%;
}

.softskills-box ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Removendo o estilo padrão da lista */
    text-align: left;
    margin-left: 50px;
    font-size: 20px;
}

.softskills-box li{
    margin: 10px 0;
}

.main-skillbar {
    flex: 2;
    max-width: 70%;
    color: #4bbeac;
}

.container-skills h3 {
    font-size: 75px;
    padding: 20px;
    margin-top: 5px;
    font-weight: bold;
    width: 100%;
}

.container-skills .skill-box {
    width: 90%;
    margin: 35px 0;
    margin-left: 30px;
}

.skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(0, 0, 0, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #4bbeac;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
}

.skill-per.java {
    width: 56%;
    animation-delay: 0.1s;
}

.skill-per.fweb {
    width: 50%;
    animation-delay: 0.2s;
}

.skill-per.bweb {
    width: 52%;
    animation-delay: 0.3s;
}

.skill-per.db {
    width: 55%;
    animation-delay: 0.3s;
}

.skill-per.bweb {
    width: 52%;
    animation-delay: 0.3s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #4bbeac;
    z-index: 1;
}

.tooltip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: #4bbeac;
    transform: translateX(-50%) rotate(45deg);
}


