*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.main-box{
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-color: #181818;
    background-repeat: no-repeat;     
    background-size: cover;  
    background-position: center;                
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.portfolio-box {
    display: flex;
    align-items: center;
}

.portfolio {
    color: #ffff;
    font-size: 35px;
    font-weight: 1000;
    margin-left: 10px; /* Adicione margem para separar o texto do avatar */

}

.portfolio span {
    color: #4bbeac;
    font-weight: 1000;
}

/* Adicione estilos ao avatar conforme necessário */
.portfolio-box img {
    width: 50px; /* Defina a largura do avatar conforme necessário */
    border-radius: 30%; /* Se quiser um avatar redondo */
    margin-right: 10px; /* Adicione margem à direita do avatar */
    margin-top: -20px;
}

li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    color: #ffff;
}

li:hover{
    color: #4bbeac;
    font-weight: 1000;
    transition: 0.4s;
    background-color: #292929;
    
}

.my-name{
    position: absolute;
    top: 50%;
    left: 6%;
    color: #ffff;
    margin-top: -30px;
}

.my-name h1{
    font-size: 70px;
    font-weight: 900;
}

.my-name h1 span{
    color: #4bbeac;
    font-weight: 900;
}
.name-box {
    font-size: 35px;
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
}

.name-box h3 {
    display: inline-block;
    vertical-align: middle; 
    margin-right: 1px;  
    margin-top: 5px;  
}

.name-box img {
    width: 40px;
    display: inline-block;
    vertical-align: middle; 
}

section{
    display: flex;
    align-items: center;
    padding: 30px 60px;
    background-color: black;
}

section img{
    width: 400px;
    border-radius: 100%;
    box-shadow: rgba(75, 190, 172, 0.4) 0px 8px 24px;
}

section div h2{
    color: #4bbeac;
    font-size: 70px;
    font-weight: bold;
}

section div p{
    color: white;

}

.sobremim-box{
    padding: 15px;
    margin-left: 190px;
}

.sobremim-box p{
    width: 390px;
    margin-top: 10PX;

}

.sobremim-box button{
    color: white;
    background-color: #4bbeac;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #4bbeac;
    cursor: pointer;
    font-size: 15px;
}

.sobremim-box button:hover{
    color:#4bbeac;
    background-color: #000000;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid #4bbeac;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}